*{
    font-family: sans-serif;
}

a{
    color: rgb(0,113,133);
}

p.a{
    font-weight: bold;
    font-size: x-large;
}

p.b{
    color: rgb(0,118,0);
    
}

.button1{
    
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(255,216,20);
    color: white;
    text-decoration: none;
    cursor:pointer;
    border-radius: 40px;
  }

.button2{
    
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(255,164,28);
    color: blue;
    text-decoration: none;
    cursor:pointer;
    border-radius: 40px;
  }